.container{
     max-width: 1280px;
     margin: 0 auto;
}

/* Breakpoints*/


@media(max-width: 1200px){
    .container{
       background-color: aquamarine;
   } 

}

@media(max-width: 992px){
    .container{
       background-color: green;
   } 

}

@media(max-width: 768){
    .container{
       background-color: yellow;
   } 

}
@media(max-width: 576px){
    .container{
       padding: 0 5px;
   } 

   .img{
    width: 100%;

   }

}